<div class="section">
    <div class="container">
        <h1>Welcome User</h1>
        <h3>Login Here</h3>

        <a class="btn btn-primary" href="/login">login</a>
        <a class="btn btn-primary" href="/register">Register</a>

        <%- include("./partials/indexscript") %>
    </div>
</div>