<div class="section">
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <h1>Register</h1>
                <hr>
            </div>
        </div>
        <div class="row d-flex flex-column align-items-center">
            <div class="col-6">
                <form action="" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="name" class="form-control" id="name" placeholder="Enter Your Name" name="name"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com"
                            name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Your Password"
                            name="password" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-dark" type="submit">Register</button>
                        <a href="/" class="btn btn-info">Back Home</a>
                    </div>
            </div>

            </form>
        </div>
    </div>
</div>